body {
    background-color: #89d6d9;
}
.row {
    background-color: #dbc896;
}
table {
    background-color: #f7e1b7;
    border: 1;
}
.one {
    background-color: #dddddd;
    padding: 10px;
}
.two {
    background-color: #ffffff;
    width: 960px;
    padding: 20px;
    margin: auto;
    
}
.three {
    width: 100px;
}